<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Vidya Notes</title>
  </head>
  <body>
    <header>
      <div id="mySidenav" class="sidenav">
        <p>Vidya Notes</p>
        <div class="form">
          <form name="searchform">
            <input type="search" id="query" name="q" placeholder="Search..." />
            <button>Search</button>
          </form>
        </div>
        <a href="#">Notes</a>
        <br />
        <a href="#">Tasks</a>
        <br />
        <a href="#">Anki</a>
      </div>
    </header>
    <div class="notesArea">
      <h2>Notes</h2>

      <p><%= notesArray[0].items[0].content %></p>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
