$primaryColor: #01497c;
$primaryDark: #012a4a;
$secondaryColor: #b7c6f4;

$fontDark: #000000;
$fontLight: #FFFFFF;
$fontGrey: #D3D3D3;
$font-stack: Helvetica, sans-serif;
$p-font-sizes: (
  null  : 15px,
  480px : 16px,
  640px : 17px,
  1024px: 35px
);

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
        font-size: $fs-font-size;
      }
      @else {
        @media screen and (min-width: $fs-breakpoint) {
          font-size: $fs-font-size;
        }
      }
    }
  }


//Links Mixin
@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}

body {
  height: 100%;   
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
}


.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
  background-color: $secondaryColor;
}


.top-left {
  flex-shink: 0;
  padding-top: 50px;
  background-color: $primaryDark;
}

.top-right {
  flex-shrink: 0;
  display: flex;
  padding-top: 50px;
  background-color: $primaryDark;
}

.bottom-left {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  //overflow-y: ;  /*adds scroll to this container*/
  //background-color: $secondaryColor;
  //height: 100vh;
}

#right {
  width: 100%;
}

ul {
  display: inline-flex;
  list-style: none;
}



header {
    //flex: 1;
    //flex-direction: column;
    background: $primaryDark;
    font: 100% $font-stack;
    @include font-size($p-font-sizes);
    color: $fontLight;
    //display: flex;
    justify-content: left;
    padding: 20px;

}

p {
  flex: 1; 
  display: flex;
  flex-grow: 1;

  @include font-size($p-font-sizes);
  padding-left: 5px;
  }



.sidenav
  { order: 1;
    height: 100%;
  
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
  
    /* Set the width of the sidebar */
    position: fixed;
  
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
  
    /* Stay on top */
    top: 5;
  
    /* Stay at the top */
    left: 0;
    background-color: $primaryColor;
  
    /* Black */
    overflow-x: hidden;
  
    /* Disable horizontal scroll */
    padding-top: 20px;

    color: $fontLight
  }
  
a {@include links ($fontLight, $fontLight, $fontGrey, $fontLight);}

a {
    padding: 10px 10px;
    font-size: 25px;
}

div.form {
    justify-content: center;
    background: $primaryDark;
    display: block;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.notesArea {
  display: flex;
  order: 2
}